:root {
  font-size: 16px;
}

body {
  opacity: 0;
}

p.h1,
h1,
p.h2,
h2,
p.h3,
h3,
p.h4,
h4,
p.h5,
h5,
p.h6,
h6 {
  font-family: Roboto;
  color: $text;
}

hr {
  margin-top: 0;
}

a,
p,
div,
input,
button,
textarea {
  font-family: Roboto;
  color: $text-secondary;
}

img {
  max-width: 100%;
}

section {
  position: relative;
  padding: 8vh 0;
}

.profile-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid $black;
}

.btn.btn-secondary {
  background: #d7d7d7;
  border: none;
  color: $text;
}

.btn.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  background-color: $primary;
  border-color: $primary;
  border-radius: 10px;
  color: $white;
}

.btn.btn-primary:hover,
.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:active,
.btn.btn-outline-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background-color: $btn-hover !important;
  border-color: $btn-hover !important;
  box-shadow: none !important;
  color: $white;
}

.btn.btn-outline-primary {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  font-weight: bold;
  border-color: $primary;
  border-radius: 10px;
  color: $primary;
}

/* Modal component */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  .content-modal {
    position: relative;
    background-color: white;
    margin: 15% auto;
    padding: 30px;
    width: 70%;
    max-width: 400px;
    border-radius: 8px;
    animation: openModal 0.3s ease-out;
  }
}

@keyframes openModal {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  &:hover {
    color: #000;
  }
}

/* Toggle component */
.toggle-container {
  max-width: 80px;
}

.toggle {
  display: flex;
  background: #d7d7d7;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

#view-toggle {
  display: none;
}

.toggle-button {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

/* Slider background */
.toggle::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: white;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#view-toggle:checked + .toggle::after {
  transform: translateX(100%);
}

.menu-icon i,
.grid-icon i {
  color: #333;
}

@media (max-width: 1000px) {
}

/* Responsive styles */
@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}
