/* Responsive styles */
@media (max-width: 991.98px) {
  .btn-group-influencers {
    flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  .table th:nth-child(2),
  .table th:nth-child(3),
  .table td:nth-child(2),
  .table td:nth-child(3) {
    display: none;
  }

  .btn-actions-container {
    align-items: unset !important;
  }
}

@media (max-width: 575.98px) {
}
