// table
.table-head {
  background: $lightRose;
}

// Summary Sidebar
.value-text {
  background: $lightRose;
  border-radius: 5px;
  padding: 8px;
}

.text-price {
  color: $primary;
  font-weight: bold;
}

.badge-text {
  color: $primary;
}

// Influencers Campaign Section
.btn-actions-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
