.table-head {
  background: #eae6f5;
}

.value-text {
  background: #eae6f5;
  border-radius: 5px;
  padding: 8px;
}
.text-price {
  color: $primary;
  font-weight: bold;
}

.badge-text {
  color: $primary;
}

.btn-actions-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
