<div class="header">
  <div class="container-fluid">
    <nav class="pt-2">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link"
          id="nav-brief-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-brief"
          type="button"
          role="tab"
          aria-controls="nav-brief"
          aria-selected="true"
        >
          <i class="bi bi-pencil-square h4 mb-0"></i> Completar brief
        </button>
        <button
          class="nav-link active"
          id="nav-check-profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-check-profile"
          type="button"
          role="tab"
          aria-controls="nav-check-profile"
          aria-selected="false"
        >
          <i class="bi bi-person-check h4 mb-0"></i> Revisar y confirmar
        </button>
        <button
          class="nav-link"
          id="nav-send-campaign-tab"
          data-bs-toggle="tab"
          data-bs-target="#send-campaign"
          type="button"
          role="tab"
          aria-controls="send-campaign"
          aria-selected="false"
        >
          <i class="bi bi-send h4 mb-0"></i> Enviar campaña
        </button>
      </div>
    </nav>
  </div>
</div>
