$primary: #9b4193;
$secondary: #033545;
$text: #726d78;
$text-secondary: #425762;
$text-hover: #191920;
$btn-hover: #9b4193;

$white: #fff;
$black: #000;

$lightGrey: #eaeaea;
$darkgrey: #86888c;
$darkergrey: #50535a;
